@font-face {
    font-family: "Retro"; 
    src: url("../img/fonts/Perfect\ DOS\ VGA\ 437\ Win.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

:root{
    --font: "Retro";
}

body {
    margin: 0;
    background: rgb(63, 63, 63);
    font-family: "Retro", sans-serif;
    color: white;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface_histoire {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.boite_dialogue {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #111111;
    border: solid 2px white;
    padding: 20px;
}

.nom_perso {
    margin-right: 16px;
}

/* --- FONDS DES MENUS --- */
.menu1_level1, .menu2_level1, .menu_défaite_level1, .menu_fin_level1, .tourner-ecran {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 40, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
}

/* --- TEXTE ET TYPOGRAPHIE --- */
.menu1_level1 h1 {
    font-size: 3.5rem;
    margin-bottom: 50px;
    text-shadow: 3px 3px 5px #000; /* Petite ombre pour faire "jeu" */
    color: #ffcc00;
}

.tuto_texte {
    background: rgba(0, 0, 0, 0.5); /* Boîte sombre pour lire le texte facilement */
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 80%;
}

.tuto_texte h2 {
    margin-top: 0;
    color: #ffcc00;
}

/* --- BOUTONS --- */
.menu_button {
    z-index: 10; /* Très important : au-dessus de ".touches" pour être cliquable ! */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffeeee;
    background: rgb(85, 97, 138);
    border: solid 3px #ffeeee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.2s ease; /* Pour des animations fluides au survol */
}

/* Effets quand on passe la souris ou qu'on clique */
.menu_button:hover {
    background: rgb(110, 125, 175);
    transform: scale(1.05); /* Grossit légèrement */
}

.menu_button:active {
    transform: scale(0.95); /* S'enfonce quand on clique */
}

/* Dans le menu des explications, on peut appuyer sur les parties gauche et droite de l'écran pour faire comprendre qu'on peut appuyer ici*/
.touches {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.touche_gauche, .touche_droite {
    width: 50%;
    height: 100%;
}

/* Animation */
@keyframes toucher {
    0% { background-color: rgba(255, 255, 255, 0.4); }
    100% { background-color: transparent; }
}

.anime-touche {
    animation: toucher 0.4s ease-out;
}

/* Quand les menus ne sont pas affichés */
.invisible {
    display: none !important;
}

#tourner-ecran {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.9);
    color: #ffeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Retro", sans-serif;
    z-index: 9999;
    padding: 20px;
}

#mobile {
        animation: mobile_rotate 1s ease infinite;
        transform-origin: 110px 145px;
    }

    @keyframes mobile_rotate {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(-90deg);
        }
        100% {
            transform: rotate(-90deg);
        }
    }

/* Si l'écran est en mode Paysage (plus large que haut) */
@media screen and (orientation: landscape) {
    #tourner-ecran {
        display: none;
    }
}